@CHARSET "UTF-8";

.login {
	max-width: 350px;
	margin: 0 auto;
}

body {
	padding: 1em;
}

nav {
	
}

nav .btn-group.utility {
	float: right;
}

.row {
	margin: 0;
}

.purchase-order {
	width: 8in;
	margin: .5in auto;
}

.vendor-list {
	float: left;
}

.vendor-block {
	width: 50%;
}

.list-group-item:hover {
	cursor: pointer;
}

.row .field-envelope {
	display: inline-block;
}

footer {
	width: 100%;
	clear: both;
	font-size: .9em;
}

.details-block {
	box-shadow: 2px 2px 4px #CCC;
	padding: 1em;
	overflow: auto;
	max-height: 500px;
	width: 50%;
	position: absolute;
	margin: 0 1em;
	overflow: auto;
	max-height: 500px;
	background-color: #fff;
}

ul.button-list {
	list-style: none;
	padding: 0;
}

ul.button-list li {
	display: inline-block;
}

ul.button-list li a {
	margin: 0 .25em;
}

.items {
	clear: both;
}

table.item-list {
	clear: both;
}

table.item-list th.price, table.item-list th.total {
	text-align: right;
}

.left-box, .right-box {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.left-box fieldset, .right-box fieldset {
	height: 2.65in;
}

.ui-dialog {
	background-color: white;
	  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
  box-shadow: 2px 2px 3px #aaa;
}

.ui-dialog-title {
	min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

form.editor {
	max-width: 350px;
	width: 100%;
	margin: 3em auto;
}


@media ( max-width :740px) {
	.left-box, .right-box {
		width: 100%;
		float: none;
	}
}

