@CHARSET "UTF-8";

.login {
	max-width: 350px;
	margin: 0 auto;
}

body {
	padding: 1em;
}

nav {
	
}

nav .btn-group.utility {
	float: right;
}

.row {
	margin: 0;
}

.vendor-list {
	float: left;
}

.vendor-block {
	width: 50%;
}

.list-group-item:hover {
	cursor: pointer;
}

.row .field-envelope {
	display: inline-block;
}

footer {
	width: 100%;
	clear: both;
	font-size: .9em;
}

.details-block {
	box-shadow: 2px 2px 4px #CCC;
	padding: 1em; overflow : auto; max-height : 500px;
	width: 50%;
	position: absolute;
	margin: 0 1em;
	overflow: auto;
	max-height: 500px;
	background-color: #fff;
}

.sfixed {
	position: fixed;
	top: 10px;
	left: 48%;
	width: 35% !important;
}

.dstatic {
	position: static;
	float: left;
}